<% provide(:title, 'Login')%>

<%= image_tag('logo.png', size: '700x50') %>
<%= form_for(:session, url: sessions_path, html: { class: 'slick-login'} ) do |f| %>
    <%=  label_tag 'Login' %>
    <%= f.text_field :login, placeholder: 'login:' %><br />
    <%=  label_tag 'Password' %>
    <%= f.password_field :password, placeholder: 'password:' %><br />
    <%= f.submit "Log in" %>

<% end %>
<!--TODO correct register button styling -->
<div class='slick-register-front'>
<%= button_to "Register", register_path %>
</div>