<h3>Edit your profile data</h3>
<%= form_for @user, html: {id: 'register_form'}, remote: true do |f| %>
    <ul>
      <li><%= f.text_field :login, placeholder: 'Login' %></li>
      <li><%= f.password_field :password, placeholder: 'Password (min 6 signs)' %></li>
      <li><%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %></li>
      <li><%= f.text_field :email, placeholder: 'Email' %></li>
      <li><%= f.text_field :email_confirmation, placeholder: 'Email confirmation' %></li>
      <li><%= f.submit "Update!", class: 'btn' %></li>
    </ul>
<% end %>
