<h3>Register new user</h3>
<%= form_for User.new, html: {id: 'register_form'}, remote: true do |f| %>
      <ul>
        <li><%= f.text_field :login, placeholder: 'Login' %></li>
        <li><%= f.password_field :password, placeholder: 'Password (min 6 signs)' %></li>
        <li><%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %></li>
        <li><%= f.text_field :email, placeholder: 'Email' %></li>
        <li><%= f.text_field :email_confirmation, placeholder: 'Email confirmation' %></li>
        <li><%= raw recaptcha_tag(:ajax) %></li>
        <li><%= f.submit "Register!", class: 'btn' %></li>
      </ul>
<% end %>
