<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.login %></td>
        <td><%= u.email %></td>
        <% if logged_user?(u) %>
            <td><%= link_to "Edit", edit_user_path(u), remote: true %></td>
            <td><%= link_to "Delete", remote: true, method: :delete %>
        <% else %>
            <td></td>
            <td></td>
        <% end %>
      </tr>
  <% end %>

</table>

