<% provide(:title, 'Login')%>
<%= form_for User.new do |f| %>
    <%= f.label :login %>:
    <%= f.text_field :login %><br />

    <%= f.label :password %>:
    <%= f.password_field :password %><br />

    <%= f.submit "Log in", class: "btn btn-large btn-primary"%>
<% end %>

<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>