<% provide(:title, 'New user')%>
<h1>Register new user:</h1>
<div class='slick-register' >
<%= form_for @user, url: { action: 'index' } do |f| %>
    <%=  label_tag 'Login' %>
    <%= f.text_field :login, placeholder: 'login' %>
    <%=  label_tag 'Password' %>
    <%= f.password_field :password, placeholder: 'pasword' %>
    <%=  label_tag 'Password confirmation' %>
    <%= f.password_field :password_confirmation, placeholder: 'password confirmation' %>

    <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>
  </div>

<div class='slick-register-back' >
<%=  button_to "Go back", login_path %>
</div>