
<% provide(:title, 'New user')%>
<%= form_for @user do |f| %>

    <%= f.label :login %>:
    <%= f.text_field :login %><br />

    <%= f.label :password %>:
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Register", class: "btn btn-large btn-primary" %>
<% end %>


<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>