<div class="masthead white-text">
  <ul class="nav nav-pills pull-right">
    <li><h4><%=  "Hello #{logged_user.login}" %></h4></li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Settings", edit_user_path(logged_user)%></li>
    <li><%= link_to "Sign out", logout_path, method: "delete" %></li>
  </ul>
  <%= link_to image_tag('logo.png', size: '250x35'), users_path, id: "logo2", class: 'logo2' %>

</div>

