<!DOCTYPE html>
<html>

<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>

<body>

    <header>
        <%= render 'layouts/header' %>
        <div id='register_box' class='box'>
        <%= render 'users/new' unless logged_in? %>
        </div>
    </header>

    <div id='body'>
        <!--TODO: is it necessary?-->
        <div id='flash_message'><div id='flash_<%= flash.keys.first.to_s %>'><%=h flash[flash.keys.first] %></div></div>
        <%= yield %>
      </div>


    <footer>
        <p>BoardPoster v0.3</p>
    </footer>

    <%= javascript_include_tag 'application' %>

</body>

</html>
